.WPD {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 80px;

    .WPDC {
        .WPCh {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 680;
            letter-spacing: 1.0px;
            color: #FDD128;
        }

        .WPCc {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding-top: 12px;

            .WPCca {
                .WPCcat {
                    font-size: 28px;
                    font-weight: 800;
                    letter-spacing: .8px;
                    line-height: 32px;
                }
            }

            .WPCcb {
                .WPCcbb {
                    background-color: #FDD128;
                    color: #19213D;
                    padding: 8px 22px;
                    border-radius: 18px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0.4px;
                    box-shadow: 1.4px 1.4px #8B8000;

                    .WPCcbbb {
                        font-size: 16px;
                        padding: 4.8px 0px 0px 6px;
                        -webkit-animation: upNdown 2s infinite linear;
                        animation: upNdown 2s infinite linear;
                    }
                }
            }
        }

        .WPCf {
            padding-top: 12px;
            .WPCft {
                font-size: 16px;
            }
        }
    }
    .WPCC {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@-webkit-keyframes upNdown {
    0% { }
    50% { transform: translate(-5px);}
    100% {}
}
@keyframes upNdown {
    0% { }
    50% { transform: translate(-5px);}
    100% {}  
}