.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #121212; */

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, 
.swiper-button-prev {
    color: black;
}

.TPD {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .TPDh {
        font-size: 28px;
        font-weight: 720;
    }
    .TPDcc {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .TPDcca {
            height: 180px;
            width: 180px;
        }
        .TPDcct {
            padding: 36px 0px;
            .TPDcctm {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: .8px;
                color: #333e33;
            }
        }
    }
}