.MLD {
    width: 100%;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    background-color: #FFFFFF;
    color: #19213D;
    padding-top: 4.4vh;// 0vh;
    .MLDa {
        width: 96%;
    }
}
.cb {
    // background-color: #826FE9;
    background-color: #CC7DFF;  
}
.tb {
    background-color: #FAFBFB;
}